<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		IBAN
	</name>
        <settings>
		<variable>fop</variable>
		<name>ФОП</name>
	</settings>
	<settings>
		<variable>ipn</variable>
		<name>ІПН</name>
	</settings>
	<settings>
		<variable>iban</variable>
		<name>IBAN</name>
	</settings>
        <settings>
		<variable>banc</variable>
		<name>БАНК</name>
	</settings>
        <settings>
		<variable>mfo</variable>
		<name>МФО</name>
	</settings>
</module>