backend/design/compiled/*
/application/providers/facebook.php
compiled/*
files/*
/files/
cron/dropbox.log
tmp/
log/*
cache/*
mail/*
dev/*
vendor.tgz
composer.phar
.idea/*
/vendor/*
config/config.local.php
/application/providers/logs/
/cron/files/*
/application/log/
/vendor/
